.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-enter-active, .list-leave-active {
  transition: all 1s cubic-bezier(.39,.06,.18,1.18);
  overflow: hidden;
  max-width: 100%;
  max-height: 24rem;
}

.list-leave-active {
  transform: scale(.6);
}

.list-enter-active {
  transform: scale(1);

  @for $i from 0 through 9 {
    &:nth-child(10n-#{$i}) {
      transition-delay: 1.5s - $i * .1;
    }
  }
}

.list-enter {
  transform: scale(0);
}

.list-enter, .list-leave-to {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

.blur-enter-active, .blur-leave-active {
  transition: all .25s;
}

.blur-enter, .blur-leave-to {
  opacity: 0;
  filter: blur(8px);
}
