//general
.select select, .textarea, .input, .taginput .taginput-container.is-focusable {
  background-color: transparent;
  border-color: transparent;
  margin: 0;
  padding: 0;

  &:hover {
    border-color: transparent;
  }
}

.field:not(:last-child) {
  margin: 0;
  border-bottom: 1px solid $gray-300;
}


//labels
.label {
  font-weight: 500;
}

.field.is-floating-in-label > :not(.datepicker):not(.timepicker):not(.taginput) .input, .field.is-floating-in-label > :not(.datepicker):not(.timepicker):not(.taginput) .textarea, .field.is-floating-in-label > :not(.datepicker):not(.timepicker):not(.taginput) select {
  padding-top: 2.25rem;
}

.field.is-floating-in-label .label {
  padding: 0 1.25rem;
  font-size: .9rem;
  color: $gray-700;
  top: 10px;
  left: 0;
}

.label {
  padding: 0 1.25rem;
}

//textareas
.textarea, .input {
  padding: 3.25rem 1.25rem 1.5rem 1.25rem;
}

//selects
.select select:focus, .textarea:focus, .input:focus {
  border-color: transparent;
  box-shadow: none;
  background: $gray-100;
}

.select select {
  padding-left: 1.25rem;
}


//tabs
.tabs.is-toggle li a{
  border-radius: 0 !important;
  border-color: transparent;
  font-size: 1rem;

  &:hover {
    border-color: transparent;
  }
}


//danger
.taginput .is-danger.taginput-container.is-focusable, .is-danger.textarea, .is-danger.input {
  border-color: transparent;
  border-radius: 0;
  background-color: rgba(red, 0.3);
}