.upload {
  width: 100%;

  .upload-draggable {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.banner-disposition .tab-content {
  display: none;
}

.tabs {
  a {
    background: $white;
  }

  &.is-fullwidth li {
    width: 100%;
    flex-shrink: unset;
  }
}

.tabs-field {
  .tab-content {
    display: none;
  }
}

.c-field {
  position: relative;
  border-bottom: 1px $gray-300 solid;
  transition: .2s ease;

  &:last-child {
    border-bottom: 0;
  }

  label {
    font-weight: normal;
    color: $gray-800;
    font-size: .85rem;
  }

  &-info {
    display: flex;
    padding: .75rem $field-padding 0 $field-padding;
    align-items: center;
    font-size: .85rem;
    color: $gray-800;

    label {
      flex-grow: 1;
    }

    .char-count {
      display: none;
      font-size: .75rem;
    }
  }

  &-content {
    padding: .75rem $field-padding;

    &-sm {
      padding: .25rem $field-padding;
    }
  }

  .c-button {
    display: block;
    background: transparent;
    border: 0;
    width: 100%;
    text-align: left;
    color: $gray-900;
    padding: $field-padding;
    font-size: 1rem;
    transition: .2s ease;

    &:hover {
      background: $gray-100;
      cursor: pointer;
    }

    &:active {
      background: $gray-200;
    }
  }

  &.c-field-focusable:focus-within {
    background: $gray-100;

    .char-count {
      display: block;
    }
  }

  &-error {
    color: $red;
    font-size: .75rem;
    padding: 0 $field-padding .5rem $field-padding;
  }

  &.has-errors {
    background: rgba($red, .1);

    &:focus-within {
      background: rgba($red, .15);
    }

    label {
      color: $red;
    }
  }

  .vue-swatches__trigger {
    height: 1.75rem !important;
    width: 1.75rem !important;
    border-radius: 4px !important;
  }
}

.textarea-small textarea {
  min-height: 4rem !important;
}

.control .help.counter {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.dropdown-item .field {
  margin-bottom: 0;
}

.gradient-start {
  stop-color: $gradient-start;
}

.gradient-end {
  stop-color: $gradient-end;
}

.v-step__content {
  strong {
    color: $white;
  }
}

.vue-swatches__trigger {
  height: 2.25rem !important;
  width: 2.25rem !important;
  border-radius: 4px !important;
}

@media (max-width: $xs-breakpoint) {
  .pane {
    transition: background .25s ease-in-out;

    .field {
      transition: opacity .25s ease-in-out;
    }

    .field.range {
      padding: 1rem .5rem;
      margin: -1rem -.5rem .5rem -.5rem;
      border-radius: 10px;
    }

    &-dimmed {
      background: transparent !important;
      box-shadow: none !important;

      .field,
      .c-field,
      .emoji-picker {
        opacity: 0;

        &.image-upload-field {
          opacity: 1;
          background: transparent !important;
          border-color: transparent;

          .upload,
          label {
            opacity: 0;
          }

          .range-slider {
            background: white;
            box-shadow: $default-shadow;
          }
        }
      }
    }
  }
}
