.upload {
  width: 100%;

  .upload-draggable {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .is-danger {
    background: rgba($red, .1);
  }
}

.banner-disposition .tab-content {
  display: none;
}

.tabs {
  a {
    background: $white;
  }

  &.is-fullwidth li {
    width: 100%;
    flex-shrink: unset;
  }
}

.tabs-field {
  .tab-content {
    display: none;
  }
}

.c-field {
  position: relative;
  border-bottom: 1px $gray-300 solid;
  transition: .2s ease;

  label {
    font-weight: normal;
    color: $gray-800;
    font-size: .85rem;
  }

  &-info {
    display: flex;
    padding: .75rem $field-padding 0 $field-padding;
    align-items: center;
    font-size: .85rem;
    color: $gray-800;

    label {
      flex-grow: 1;
    }

    .char-count {
      display: none;
      font-size: .75rem;
    }
  }

  &-content {
    padding: .75rem $field-padding;

    &-sm {
      padding: .25rem $field-padding;
    }
  }

  &.c-field-focusable:focus-within {
    background: $gray-100;

    .char-count {
      display: block;
    }
  }

  &.c-field-force-border {
    border-bottom: 1px $gray-300 solid !important;
  }

  &-error {
    color: $red;
    font-size: .75rem;
    padding: 0 $field-padding .5rem $field-padding;
  }

  &.has-errors {
    background: rgba($red, .1);

    &:focus-within {
      background: rgba($red, .15);
    }

    label {
      color: $red;
    }
  }

  &.adjacent {
    background: white;
    margin-top: -10px;
  }

  .vue-swatches__trigger {
    border-radius: 4px !important;
  }

  .switch {
    transform: translateY(2px);
  }
}

.c-button {
  display: block;
  background: transparent;
  border: 0;
  width: 100%;
  text-align: left;
  color: $gray-900;
  padding: $field-padding;
  font-size: 1rem;
  transition: .2s ease;

  &:hover {
    background: $gray-100;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: 0;
    background: $gray-200;
  }

  &.c-button-sm {
    font-size: .85rem;
    padding: .5rem $field-padding;
  }
}

.c-button-circle {
  display: flex;
  background: $gray-100;
  color: $gray-700;
  border: 0;
  appearance: none;
  border-radius: 2rem;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 1.15rem;
  width: 1.15rem;
  box-shadow: 0 0 0 2px white;

  &:hover {
    background: $gray-200;
    color: $gray-900;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $gray-300;
  }
}

.blobless-gradient-option {
  background: $white;
  margin-top: -1px;
}

.textarea-small textarea {
  min-height: 4rem !important;
}

.control .help.counter {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.dropdown-item .field {
  margin-bottom: 0;
}

.gradient-start {
  stop-color: $gradient-start;
}

.gradient-end {
  stop-color: $gradient-end;
}

.v-step__content {
  strong {
    color: $white;
  }
}

.vue-swatches__trigger {
  border-radius: 4px !important;
  max-height: 1.5rem !important;
}

//date and time inputs
.datepicker {
  .input {
    border: 0;
    background: transparent;
    border-radius: 0;
    border-width: 0;

    &:focus, &:active {
      box-shadow: none !important;
    }
  }
}

.timepicker {
  padding: 6px 14px;
  border-bottom: 1px solid $gray-300;

  select, .dropdown-content {
    padding: 0 !important;
    background: transparent;
    font-size: 1rem;
    font-weight: normal;
    font-weight: 400 !important;
    height: auto !important;
    border: 0;

    .control {
      font-size: 1rem !important;
    }
  }

  select:focus {
    box-shadow: none;
  }

  .select {
    height: auto !important;
  }
}

.date-time-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  .c-field:last-child {
    border-left: 1px solid $gray-200;
    border-bottom: 0;
  }
}

//properly fix this and remove
.dropdown-content {
  box-shadow: none;
  border: 1px solid $gray-300;
}

@media (max-width: $xs-breakpoint) {
  .pane {
    transition: background .25s ease-in-out;

    .field {
      transition: opacity .25s ease-in-out;
    }

    .field.range {
      padding: 1rem .5rem;
      margin: -1rem -.5rem .5rem -.5rem;
      border-radius: 10px;
    }

    &-dimmed {
      background: transparent !important;
      box-shadow: none !important;

      .field,
      .c-field,
      .emoji-picker,
      .tabs,
      .button {
        opacity: 0;

        &.image-upload-field,
        &.range-field {
          opacity: 1;
          background: transparent !important;
          border-color: transparent;

          .upload,
          label {
            opacity: 0;
          }

          .range-slider {
            background: $white;
            box-shadow: $default-shadow;

            label {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
