.banner {
  position: fixed;
  z-index: 10000;
  border: 2px black solid;
}

.banner-canvas.banner-background-black {
  background: $gray-1000;

  .card {
    background: $gray-800;
    color: $white;
  }

  .hashtag {
    color: $white;
  }

  .glowy-ghost {
    opacity: .25 !important;
  }
}

.glowy-ghost {
  opacity: .75 !important;
}

.banner-canvas {
  [contenteditable]:hover {
    background: rgba($primary, .1);
    outline: .5rem rgba($primary, .1) solid;
  }
  [contenteditable]:focus {
    background: rgba($primary, .2);
    outline: .5rem rgba($primary, .2) solid;
  }
}
