.banner {
  position: fixed;
  z-index: 10000;
  border: 2px black solid;
}

.banner-canvas.banner-background-black {
  background: $gray-900;

  .card {
    background: $gray-800;
    color: $white;
  }

  .hashtag {
    color: $white;
  }

  .glowy-ghost {
    opacity: .25 !important;
  }
}

.transparent-mode {
  background-color: $white;
  background-image:
      linear-gradient(45deg, $gray-100 25%, transparent 25%), 
      linear-gradient(135deg, $gray-100 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, $gray-100 75%),
      linear-gradient(135deg, transparent 75%, $gray-100 75%);
  background-size: 24px 24px;
  background-position: 0 0, 12px 0, 12px -12px, 0px 12px;

  .banner-canvas {
    background: transparent;
  }
}

.banner-canvas {
  [contenteditable]:hover {
    background: rgba($primary, .1);
    outline: .5rem rgba($primary, .1) solid;
  }
  [contenteditable]:focus {
    background: rgba($primary, .2);
    outline: .5rem rgba($primary, .2) solid;
  }
}

.logo-iniciativa {
  .gradient-orange {
    &:not(.glowy-card):not(.glowy-blob),
    .glowy-subject,
    .glowy-subject::before,
    .glowy-ghost,
    .glowy-ghost::before {
      background: $trans-gradient-iniciativa !important;
    }
  }

  .gradient-background.gradient-orange:not(.glowy-card):not(.glowy-blob),
  .gradient-orange.glowy-blob .glowy-subject,
  .gradient-orange.glowy-blob .glowy-ghost,
  .color-selector .orange-bg {
    background: $gradient-iniciativa !important;
  }

  &.background-orange {
    --background: #{$gradient-iniciativa} !important;
  }

  #iconGradient stop {
    stop-color: $iniciativa !important;
  }
}

.logo-verds {
  .gradient-orange {
    &:not(.glowy-card):not(.glowy-blob),
    .glowy-subject,
    .glowy-subject::before,
    .glowy-ghost,
    .glowy-ghost::before {
      background: $trans-gradient-green !important;
    }
  }

  .gradient-background.gradient-orange:not(.glowy-card):not(.glowy-blob),
  .gradient-orange.glowy-blob .glowy-subject,
  .gradient-orange.glowy-blob .glowy-ghost,
  .color-selector .orange-bg {
    background: $gradient-green !important;
  }

  &.background-orange {
    --background: #{$gradient-green} !important;
  }

  #iconGradient stop[offset='0'] {
    stop-color: $green-start !important;
  }

  #iconGradient stop[offset='1'] {
    stop-color: $green-end !important;
  }
}