.banner {
  position: fixed;
  z-index: 10000;
  border: 2px black solid;
}

.banner-canvas.banner-background-black {
  background: $gray-900;

  .card {
    background: $gray-800;
    color: $white;
  }

  .hashtag {
    color: $white;
  }

  .glowy-ghost {
    opacity: .25 !important;
  }
}

.banner-canvas {
  [contenteditable]:hover {
    background: rgba($primary, .1);
    outline: .5rem rgba($primary, .1) solid;
  }
  [contenteditable]:focus {
    background: rgba($primary, .2);
    outline: .5rem rgba($primary, .2) solid;
  }
}

.logo-iniciativa {
  .gradient-orange:not(.glowy-card):not(.glowy-blob), .glowy-subject, .glowy-subject::before, .glowy-ghost, .glowy-ghost::before {
    background: $trans-gradient-iniciativa !important;
  }

  .glowy-blob.gradient-orange .glowy-subject, .glowy-blob.gradient-orange .glowy-ghost, .color-selector .orange-bg {
    background: $gradient-iniciativa !important;
  }
}

.logo-verds {
  .gradient-orange:not(.glowy-card):not(.glowy-blob), .glowy-subject, .glowy-subject::before, .glowy-ghost, .glowy-ghost::before {
    background: $trans-gradient-green !important;
  }

  .glowy-blob.gradient-orange .glowy-subject, .glowy-blob.gradient-orange .glowy-ghost, .color-selector .orange-bg {
    background: $gradient-green !important;
  }
}